<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springdemo.mybatis4.EmpMapper">
	<!-- 开启本 Mapper 的 namespace 下的二级缓存 -->
	<cache></cache>

	<select id="selectList" resultType="com.springdemo.mybatis4.Emp">
		select * from t_emp
	</select>
	
	<select id="getEmp" parameterType="_int" resultType="com.springdemo.mybatis4.Emp">
		select * from t_emp where id=#{id}
	</select>
	
	<insert id="addEmp" parameterType="com.springdemo.mybatis4.Emp">
		insert into t_emp(name,age,gender,salary) values(#{name},#{age},#{gender},#{salary})
	</insert>
	
	<update id="updateEmp" parameterType="com.springdemo.mybatis4.Emp">
		update t_emp set name=#{name} where id=#{id}
	</update>
	
	<delete id="deleteEmp" parameterType="com.springdemo.mybatis4.Emp">
		delete from t_emp where id=#{id}
	</delete>
</mapper>